# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
student_assistant_client/node_modules
student_assistant_server/node_modules

# testing
student_assistant_client/coverage
student_assistant_server/coverage

# production
student_assistant_client/build
student_assistant_server/build

#Idea
# production
.idea
.idea/*
student_assistant_client/.idea
student_assistant_server/.idea
student_assistant_client/.idea/*
student_assistant_server/.idea/*

# misc
student_assistant_client/.DS_Store
student_assistant_client/.env.local
student_assistant_client/.env.development.local
student_assistant_client/.env.test.local
student_assistant_client/.env.production.local
student_assistant_server/.DS_Store
student_assistant_server/.env.local
student_assistant_server/.env.development.local
student_assistant_server/.env.test.local
student_assistant_server/.env.production.local

student_assistant_client/npm-debug.log*
student_assistant_client/yarn-debug.log*
student_assistant_client/yarn-error.log*
student_assistant_server/npm-debug.log*
student_assistant_server/yarn-debug.log*
student_assistant_server/yarn-error.log*
