.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.fileupload{
  left: 38%;
  right: 38%;
  margin: 20px !important;
}

.centered{
  align-content: center;
}

.dropbtn {
  background-color: #3d9ae8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  align-content: flex-start;
  z-index: 1;

}
.bg
{

background-image: url('./test.jpg');

background-repeat:no-repeat;
height: 80%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;


}

#DateOfBirth:hover {
    background-color: #98F5FF;
}
#inputPassword:hover{
  background-color: #98F5FF;
}
#inputUsername:hover{
  background-color: #98F5FF;
}
.panel-heading {

 }
#link {

  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-color:black;
  
}

.panel-body {

 
}

#inputlastname {

  
}
#inputlastname:hover {

background-color: #98F5FF;


}
#button {

  
}

#inputfirstname{
  
}
#inputfirstname:hover {
background-color:#98F5FF;

}
.dropdown:hover{
  background-color:#98F5FF;
}
#inputStudentID {



}
#inputStudentID:hover {

  background-color:#98F5FF;
}
#formb {

  
   
    
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    
    background-blend-mode:lighten;
    background-position: center;
    

}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Jay Desai Changes
 */
.table-striped-jay{
  color:black;
  background-color:lightgray;
}
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}